<section class="filter-wrapper">
    <div class="keyword-wrapper">
        <input [formControl]="inputField" type="text" placeholder="Search for Artists..." autofocus>
    </div>
    <ul class="filter-select">
        <div *ngFor="let result of searchResults">
            <li class="filter-select-list">
                <img src="{{result.images['2']?.url}}" alt="{{result.name}}" width="50" height="50">
                <p class="artist-name">{{result.name}}</p>
            </li>
        </div>
    </ul>
</section>